<!DOCTYPE html>
<html lang="en">
    <head>
        <link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
        <meta charset="UTF-8">
        <title>Входные данные</title>
    </head>
    <body>
    <br />
    <br />
    <br />
    <br />
    <div class="wrapper">
        <div class="main">
            <form action="/getinn" method="post">
                <div class="container">
                    <div class="form">
                        <div class="header">
                            <h1>Федеральный розыск</h1>
                        </div>
                        <div class="forms">
                            <div class="label">
                                <div class="w_input">
                                    <h3>{{result}}</h3>
                                </div>
                            </div>
                            <div class="label">
                                <hr />
                                <div class="w_input">
                                    <a href="/">На главную</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </body>
</html>